# These are used for all the services inside this repository. No need to complicate.
fastapi==0.111.0
uvicorn[standard]==0.30.3
requests==2.32.3
python-dateutil==2.9.0.post0
pydantic==2.7.4
countryinfo==0.1.2
